@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*:not(.material-symbols-outlined) {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 16px 32px;
  gap: 16px;
  align-items: center;
  box-shadow: 0px 1px 5px gray;
}

.header > .material-symbols-outlined,
.header > .logo {
  font-size: 3rem;
  font-weight: 700;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 32px;
}

.search > input {
  flex: 0.5;
  outline: none;
  background-color: #e5e7eb;
  box-shadow: 1px 1px 1px gray;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 64px;
  padding: 16px 32px;
}

.book-card {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1rem auto;
  box-shadow: 0px 0px 3px 1px gray;
  padding: 16px 8px 16px 16px;
  gap: 16px;
}

.book-card > .title {
  grid-row: 2 / 3;
}

.book-card > .author {
  grid-row: 3 / 4;

}
.book-card > .pages {
  grid-row: 4 / 5;
}

.book-card > .read-button {
  grid-row: 5 / 6;
}

.book-card > *:not(.delete-button) {
  grid-column: 1 / 2;
}

.book-card > .read-button {
  border: none;
  padding: 2px;
  border-radius: 4px;
  background-color: #b91c1c;
  color: #fefefe;
}

.book-card > .green-read-button {
  background-color: #15803d;
}

.book-card > .delete-button {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: #aaa;
  font-size: 2rem;
  font-weight: 700;
  background-color: white;
  height: min-content;
  border: none;
}

.delete-button:hover,
.delete-button:focus {
  color: #b91c1c;
  cursor: pointer;
}

.open-modal {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1;
  border: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-color: steelblue;
  font-size: 2.5rem;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 32px;
  border-radius: 8px;
  border: 1px solid #888;
  width: 33%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: 700;
}

.close-modal:hover,
.close.modal:focus {
  color: #b91c1c;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > form {
  display: grid;
  row-gap: 16px;
  grid-template-columns: max-content auto;
  justify-content: space-around;
  align-items: center;
}

form > legend {
  grid-column: 1 / 3;
  justify-self: center;
}

form > input[type="text"],
form > input[type="number"] {
  padding: 4px 8px;
  background-color: #e5e7eb;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px gray;
}

.switch {
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 48px;
}

.switch-input {
  display: none;
}

.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip-path: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}

.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #b91c1c;
  border-radius: 9999rem;
  transition: background-color 0.25s ease;
}

.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  transition: left 0.25s ease;
}

.switch-input:checked + .switch-label::before {
  background-color: #15803d;
}

.switch-input:checked + .switch-label::after {
  left: 24px;
}

form > .add-book {
  grid-column: 1 / 3;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  justify-self: center;
  background-color: #e5e7eb;
}
